*{
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  text-align: center;  
}

body{
  background-color: hsl(225, 100%, 94%);
  
}

main{
  margin: 30px;
}

#card{
  margin: auto;
  align-items: center;
  border-radius: 15px;
  background-color: hsl(225, 100%, 98%);
  max-width: 400px;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card img{
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

h1{
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p{
  font-weight: 500;
  font-size: 15px;
  color: hsl(224, 23%, 55%);
}

header p{
  text-align: center;
  width: 250px;
  color: hsl(224, 23%, 55%);
}

.price{
  width: 90%;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
}

.price-text{
  width: 130px;
}

.price img{
  max-width: 45px;
  min-width: 45px;
}

.price p{ 
  text-align: left;
}

.price h4{
  text-align: left;
  color:hsl(223, 47%, 23%);
  font-weight: 700;
}

.price a {
  font-weight: 700;
  font-size: 13px;
  color: hsl(245, 75%, 52%);
}

button{
  width: 90%;
  margin: 10px;
  padding: 15px;
  font-weight: 900;
  border-radius: 10px;
  border: 0;
  background-color: hsl(225, 100%, 98%);
}

.btn-pay{
  background-color:hsl(245, 75%, 52%) ;
  color: hsl(225, 100%, 98%);
}

.btn-cancel{
  color: hsl(224, 23%, 55%);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media (min-width:768px){

  .price a:hover{
    opacity: 50%;
  }

  .btn-pay:hover{
    cursor: pointer;
    opacity: 50%;
  }

  .btn-cancel:hover{
    color:hsl(223, 47%, 23%) ;
  }


}

@media (max-width:280px){

  .price-text{
    margin-left: 10px;
  }

  header p{
    font-size: 12px;
    width: 210px;
    color: hsl(224, 23%, 55%);
  }

  .price img{
    max-width: 30px;
    min-width: 20px;
  }

  .price p{ 
    font-size: 12px;
  }
  
  .price h4{
    font-size: 13px;
  }

  .attribution { font-size: 8px;}
}