*{
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  text-align: center;  
}

#card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 15px;
  border: 1px solid black;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card img{
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

h1{
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p{
  font-weight: 500;
  font-size: 15px;
  color: hsl(224, 23%, 55%);
}

header p{
  text-align: center;
  width: 250px;
  color: hsl(224, 23%, 55%);
}

.price{
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 30px;
}

.price-text{
  margin-left: -30px;
}

.price img{
  max-width: 45px;
  min-width: 45px;
}

.price p{
  width: 10px;
  border: 1px solid black;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }